<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<div align="center">
    <div id="player"></div>

    <br>
    <a style="border-radius: 20px; border-color: black; margin-top: 40px; display: none;" type="button" class="btn btn-lg btn-default" id="back-to-map-btn" href="/map.html">BACK TO MAP</a>

    <script src="https://www.youtube.com/player_api"></script>

    <script>
        // create youtube player
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                width: '640',
                height: '390',
                videoId: '_HSGbvnK3ci8',
                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            });
        }

        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
            if(event.data === 0) {
                $("#back-to-map-btn").show();
            }
        }
    </script>
</div>
</body>
</html>
