<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div align="center">
<h2>Where do you want to go next?</h2>
<img src="map.png" style="width:608px;height:456px;">
<p>Welcome to Pioneer University</p>
    <a type="button" class="btn btn-lg btn-default" href="https://javamestuff.tumblr.com">ABOUT</a>
    <br><br>
    <a type="button" class="btn btn-lg btn-default" href="/map.html"><span class="glyphicon glyphicon-download"></span>START</a>
</div>
</body>
</html>
