<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body style="background-color: darkgray; background-image: url(background-opacity.png); background-size: cover">

<div align="center">
<h2 style="padding: 100px; font-family: 'Pacifico', cursive;">Welcome to Pioneer University</h2>
    <a style="border-radius: 20px; border-color: black" type="button" class="btn btn-lg btn-default" href="https://javamestuff.tumblr.com">ABOUT</a>
    <br><br>
    <a style="border-radius: 20px; border-color: black" type="button" class="btn btn-lg btn-default" href="/map.html">START</a>
</div>
</body>
</html>
