<div align="center">
    <h2 id="page-title">Click anywhere on the map to enter Pioneer University</h2>

    <a href="sceneA.html">
        <img src="/original_map.png" width="400px">
    </a>

    <br><br><br>
    <span id="instruction-box">
        Instruction: At the end of most videos, a question will be asked.
        Depending on your answer, the story will change. You as a user can choose
        the answer by clicking on the location where the next scene might be.
    </span>
</div>

<style>
    #instruction-box {
        display: inline-block;
        border-style: double;
        font-family: 'Raleway', sans-serif;
        width: 90%;
        border-radius: 15px;
        padding: 20px;
    }
    #page-title {
        padding: 20px;
        font-family: 'Pacifico';
    }
</style>